<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Testing Framework">
    <test name="Testing">
        <classes>
            <class name="org.ds.task.AppTest">
                <methods>
                    <include name="shouldGoToTheHomePage" />
                    <include name="shouldGoToTheLoginPage" />
                </methods>
            </class>
        </classes>
    </test>
</suite>